@import "../../Global/variables.scss";

.newRegister {
    width: 100%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newRegisterTitle {
    color: #000;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.newRegisterLabels {
    color: #000;
}

.newRegisterInputs {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    transition: .4s;
    &:focus{
        border-bottom: 1px solid $defaultBlue;
        outline: none;
    }
}

label {
    margin-top: 15px;
}

.inclusionDate {
    height: 200px;
    text-align: unset !important;
}

.registerButton {
    background-color: $defaultBlue;
    color: #fff;
    border: none;
    margin-top: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 3px;
    border-radius: 10px;
    width: 100%;
    transition: .4s;

    &:hover{
        transform: scale(1.05);
    }
}

.registerButton:hover {
    cursor: pointer;
}