.newRegister {
    width: 100%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newRegisterTitle {
    color: #fff;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.newRegisterLabels {
    color: #fff;
}

.newRegisterInputs {
    border-radius: 10px;
    width: 100%;
}

label {
    margin-top: 15px;
}

.inclusionDate {
    height: 200px;
    text-align: unset !important;
}

.registerButton {
    background-color: #33b249;
    color: #fff;
    border: none;
    margin-top: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    border-radius: 10px;
    width: 100%;
}

.registerButton:hover {
    cursor: pointer;
}