@import "../../Global/variables.scss";

.newRegister {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newRegisterTitle {
    color: #000;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.newRegisterLabels {
    color: #000;
    margin-left: 20px;
    align-self: left;
}

.newRegisterInputs {
    width: 90%;
    align-self: center;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #000;
    transition: .4s;
    outline: none;
    font-size: 16px;

    &:focus {
        border-bottom: 1px solid $defaultBlue;
        outline: none;
    }
}

label {
    margin-top: 15px;
}

.inclusionDate {
    height: 100%;
    text-align: unset !important;
}

.registerButton {
    background-color: $defaultBlue;
    color: #fff;
    border: none;
    margin-top: 20px;
    padding: 10px;
    align-self: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 3px;
    border-radius: 10px;
    width: 90%;
    transition: .4s;
    font-size: 16px;

    &:hover {
        transform: scale(1.05);
    }
}

.registerButton:hover {
    cursor: pointer;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid $defaultBlue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}