rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    match /{uid}/{document=**} {
      allow read, write: if isOwner(uid);
    }

    match /users/{uid}/{document=**} {
      allow read, write: if isOwner(uid);
    }
  }
}
