@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "../../Global/variables.scss";

* {
    font-family: 'Poppins', sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    gap: 10%;
    background-color: #fff;
}

.menuImg {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;

    position: absolute;
    top: calc(10px + env(safe-area-inset-top, 0px));
    left: calc(10px + env(safe-area-inset-left, 0px));
    z-index: 2;
    transition: .4s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.asideMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 100dvh;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.888);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 3;
    box-sizing: border-box;
    padding-top: env(safe-area-inset-top, 0px);
    padding-left: env(safe-area-inset-left, 0px);
}

.closeMenu {
    position: absolute;
    top: calc(10px + env(safe-area-inset-top, 0px));
    left: calc(10px + env(safe-area-inset-left, 0px));

    width: 30px;
    height: 30px;
    z-index: 4;
    transition: .4s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.iconDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon {
    width: 25px;
}

.namep {
    color: #fff;
    display: flex;
    text-decoration: none;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 15px 0 0 0;
    gap: 15px;
    height: 100%;

}

.menuLinks {
    text-decoration: none;
    color: #fff;
    transition: .4s;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ffffff7e;

    &:hover {
        background-color: $defaultBlue;
        transform: scale(1.05);
    }
}

.logoutBtn {
    background-color: transparent;
    color: red;
    border: 1px solid red;
    border-radius: 15px;
    padding: 5px 15px;
    transition: .4s;
    margin-top: auto;
    margin-bottom: calc(50px + env(safe-area-inset-bottom, 0));
    font-size: 14px;

    &:hover {
        color: #fff;
        transform: scale(1.05);
        cursor: pointer;
    }
}

.displayNone {
    display: none;
}

@media (max-width: 768px) {
    .asideMenu {
        height: 100dvh;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        transition: .4s;
        background-color: #000;
    }

    .iconDiv {
        margin-top: calc(44px + env(safe-area-inset-top, 0px));
        padding-right: env(safe-area-inset-right, 0px);
    }

    .mainContainer {
        justify-content: center;
        align-items: center;
        gap: 0;
    }
}