@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "../../Global/variables.scss";

* {
    font-family: 'Poppins', sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    gap: 10%;
    background-color: #fff;
}

.asideMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 100%;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.888);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.closeMenu{
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;

    width: 30px;
    height: 30px;
    z-index: 1;
}

.iconDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon {
    width: 25px;
}

.namep {
    color: #fff;
    display: flex;
    text-decoration: none;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 15px 0 0 0;
    gap: 15px;
}

.menuLinks {
    text-decoration: none;
    color: #fff;
    transition: .4s;
    padding: 5px;
    border-radius: 10px;
    text-align: center;

    &:hover{
        background-color: $defaultBlue;
        transform: scale(1.05);
    }
}

.logoutBtn{
    background-color: transparent;
    color: red;
    border: 1px solid red;
    border-radius: 15px;
    padding: 5px 15px;
    transition: .4s;

    &:hover{
        color: #fff;
        transform: scale(1.05);
        cursor: pointer;
    }
}

.displayNone{
    display: none;
}

@media (max-width: 768px){
    .asideMenu{
        position: fixed;
        left: 0;
        bottom: 0;
        transition: .4s;
        background-color: #000;
    }
    .mainContainer{
        justify-content: center;
        align-items: center;
        gap: 0;
    }
}