@import '../../Global/variables.scss';

.loading{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.expensesContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.expense{
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
    transition: .4s;

    p{
        text-transform: capitalize;
    }

    &:hover{
        border: 1px solid $defaultBlue;
        transform: scale(1.05);
    }
}