@import "../../Global/variables.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContent {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.888);
    border-radius: 50px;
    color: #fff;
}

.headerLinks {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: .4s;

    &:hover {
        background-color: $defaultBlue;
        font-weight: 800;
        transform: scale(1.1);
        border-radius: 500px;
    }
}

.logoDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: fit-content;

    p {
        margin: 0;
        font-weight: 800;

        -webkit-user-select: none!important;
        -moz-user-select: none!important;
        -ms-user-select: none!important;
        user-select: none!important;
    }
}

.logoImg {
    width: 50px;
}

.authButtons {
    display: flex;
    gap: 10px;
}

.headerSignIn {
    border: 1px solid #fff;
    padding: 5px 20px 5px 20px !important;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: .4s;
    font-weight: 800;

    &:hover {
        border-color: $defaultBlue;
        color: $defaultBlue;
    }
}

.headerSignUp {
    @extend .headerSignIn;
    background-color: #fff;
    color: #000;
}

@media (max-width: 920px) {
    .headerLinks {
        display: none;
    }
}

@media (max-width: 570px) {
    .logoDiv {
        p {
            display: none;
        }
    }
}

@media (max-width: 390px) {
    .logoImg {
        width: 30px;
        padding-left: 5px;
    }

    .headerSignIn {
        font-size: 13px;
        padding: 5px 5px 5px 5px !important;
    }
}