@import '../../Global/variables.scss';

.firstContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 5% 0 5%;
}

.title{
    h1{
        font-size: 70px;
        font-weight: 800;
        &::after{
            content: "best life";
            background-color: $defaultBlue;
            color: white;
            border-radius: 10px;
            padding: 0 10px 0 10px;
            text-wrap: nowrap;
        }
    }
}

.subTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 20px;
    text-align: center;
    align-self: end;
    padding-bottom: 3%;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.buttonLink{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50px;
}

.registerBtn{
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: .4s;

    &:hover{
        border-color: $defaultBlue;
        color: $defaultBlue;
        transform: scale(1.1) rotate(1deg);
    }
}
@media(max-width: 1000px){
    .firstContent{
        flex-direction: column;
    }
    .title{
        h1{
            text-align: center;
        }
    }
    .subTitle{
        width: 100%;
        align-self: center;
    }
    .registerBtn{
        width: 150px;
    }
}
@media(max-width: 650px){
    .title{
        h1{
            font-size: 55px;
        }
    }
    .subTitle{
        width: 80%;
    }
}
@media(max-width: 500px){
    .title{
        h1{
            font-size: 40px;
        }
    }
    .subTitle{
        width: 80%;
    }
}

.secondContent{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
    border-radius: 50px;
    background-color: rgba(237, 237, 237, 0.934);
    
    h1{
        position: relative;
        z-index: 1; 
        text-transform: capitalize;
        margin-bottom: 15px;
    }
}

.notes{
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
}

.arrowDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upRightArrow{
    width: 50px;
}